<script src="/axios/dist/axios.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/aleert.js"></script>
<script src="/js/table2excel.js"></script>
<script src="/js/excel.js"></script>
</body>
</html>