<%- include('../partials/header') -%> <%- include('../partials/navbar') -%>
<style>
  .container {
    margin-top: 55px;
  }
</style>
<br>
<br>
<br>
<br>
  <h1>Congratuation, email Confrimed!</h1>
<%- include('../partials/footer') -%>
