<%- include('../partials/header') -%> <%- include('../partials/navbar') -%>
<style>
  .container {
    margin-top: 55px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="display-4">Login </h1>
      <% if (errorMessage) { %>
        <div class="user-message user-message--error">
          <%= errorMessage %>
        </div>
        <% } %>
      <hr>
      <form action="/users/login" method="post">
        <div class="form-group"style="margin-top: 2%;">
          <label for="title">Email</label>
          <input type="email" name="email" id="email" class="form-control"/>
        </div>

        <div class="form-group"style="margin-top: 2%;">
          <label for="instractor">Password</label>
          <input type="password" name="password" id="password" class="form-control"/>
        </div>
        
        <div class="form-group"style="margin-top: 2%;">
          <label class="do">Don't have account ?</label>
          <a class="re" href="/users/sign" title="Register">Register</a>
        </div>

        <div class="form-group"style="margin-top: 2%;">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>

      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer') -%>
